<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans" 
       	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       	xmlns:p="http://www.springframework.org/schema/p" 
       	xmlns:tx="http://www.springframework.org/schema/tx"
       	xmlns:context="http://www.springframework.org/schema/context"
       	xmlns:mvc="http://www.springframework.org/schema/mvc"
       	xmlns:aop="http://www.springframework.org/schema/aop"
       	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc.xsd
			http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop.xsd
	   		">

	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="cacheSeconds" value="-1"/>
		<property name="basenames">
			<list>
				<value>/WEB-INF/languages/front/messages</value>
			</list>
		</property>
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
		
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName" value="clientlanguage"/>
		<property name="cookieMaxAge" value="-1"/>
	</bean>

	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView" value="error/error" /> 
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.web.bind.MissingServletRequestParameterException">error/error</prop>
				<prop key="org.springframework.beans.TypeMismatchException">error/error</prop>
				<prop key="org.springframework.web.bind.ServletRequestBindingException">error/error</prop>
				<prop key="org.springframework.dao.DataIntegrityViolationException">error/error</prop>
			</props>
		</property>
	</bean>
	
	<bean id="freemarkerViewResolver" class="com.dodo.common.fmk.resolver.DodoFreeMarkerViewResolver">
		<property name="prefix" value="/view/front/"/>
		<property name="suffix" value=".html"/>
		<property name="contentType" value="text/html; charset=UTF-8"/>
		<property name="exposeRequestAttributes" value="false"/>
		<property name="exposeSessionAttributes" value="false"/>
		<property name="exposeSpringMacroHelpers" value="true"/>
	</bean>

	<!-- 
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/frontview/" p:suffix=".jsp" /> 
	-->
	<context:annotation-config/>
	<context:component-scan base-package="com.*.action.front" />
	
	<mvc:annotation-driven />  
	<mvc:interceptors>  
		<bean id="dodoFrontLocaleInterceptor" class="com.dodo.common.framework.interceptor.DodoFrontLocaleInterceptor">
			<property name="defaultLocale" value="zh_CN" />
		</bean>	
	  	<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	  	<bean id="clientInterceptor"
			class="com.dodo.privilege.interceptor.client.ClientInterceptor" />
		<bean id="frontContextInterceptor"
			class="com.dodo.privilege.interceptor.FrontContextInterceptor" />
	</mvc:interceptors>  	
</beans>
